<form action="/" method="post">

    <label for="field-email">Email</label>
    <input type="email" id="field-email" name="field-email" autocomplete="email" required autofocus>

    <label for="field-password">Password</label>
    <input type="password" id="field-password" name="field-password" required>

    <input type="checkbox" id="field-stay-logged-in" name="field-stay-logged-in" value="stay-logged-in">
    <label for="field-stay-logged-in">Stay logged in</label>

    <a href="/">Forgot password</a>

    <button type="submit">Login</button>

</form>
