@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

@font-face { /* CSS secrets 5.25 */
  font-family: Checkmark;
  src: local('Baskerville-BoldItalic');
  unicode-range: U+2713;
}

:root {
  /* Colors */
  --bg-color: #dee2e6;
  --primary-color: #fff;
  --secondary-color: #009688;
  --accent-color: #4263eb;

  /* Colors - Feedback */
  --feedback-wrong: #F44336;
  --feedback-correct: #4CAF50;
  --feedback-default: #B0BEC5;

  /*Colors - Text*/
  --main-font-color: #fff;
  --heading-color: #1565C0;

  /* Colors - Chat */
  --chat-bg1-color: #2196F3;
  --chat-bg2-color: #009688;

  /*Typography - Font Size*/
  --main-font: 'Roboto', sans-serif;
  --font-size-small: 0.8em;
  --font-size-normal: 1em;
  --font-size-big: 1.2em;

  /* Box Shadow */
  --box-shadow-1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --box-shadow-2: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  /* Scale variable */
  --scale-normal: 1em;
}

/* ==========================================================================
   Reset
   ========================================================================== */

a {
  text-decoration: none;
  display: block;
  width: 100%; /* 6.30 Extending the clickable area of anchor links */
  color: var(--secondary-color);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

dialog {
  border: none;
}

hr {
  width: 20%;
  margin: 0;
  height: .15em;
  background-color: var(--accent-color);
}

html, body {
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

input,textarea {
  font-size: var(--font-size-small);
  padding: var(--scale-normal);
  border: none;§
}

svg {
  width: 3em;
}

fieldset {
  border: none;
}

/* ==========================================================================
   Global page styling
   ========================================================================== */

html {
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: blue;
  padding: calc(1.5 * var(--scale-normal));
  color: var(--primary-color);
}

section {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow-1);
  padding: calc(1.5 * var(--scale-normal));
  margin: calc(1.5 * var(--scale-normal));
}

h2 {
  padding: 1em 0em;
  margin: 0em 2em;
  border-bottom: 0.05em solid var(--heading-color);
  color: var(--heading-color);
}

/* ==========================================================================
   Tags
   ========================================================================== */
form {
  display: flex;
  box-shadow: var(--box-shadow-1);
}

label {
  line-height: 3;
}

button {
  background-color: var(--accent-color);
  border: none;
  padding: var(--scale-normal);
  color: var(--main-font-color);
  min-width: 10vw;
  font-weight: 900;
  font-size: var(--scale-normal);
  cursor: pointer;
  transition: all 500ms;
  filter: saturate(80%);
}

button:hover {
  box-shadow: var(--box-shadow-2);
  transition: all 500ms;
  filter: saturate(200%);
}


/* Form validation
   ========================================================================== */
input, input:focus {
  line-height: 2.5;
  font-size: 1em;
  padding: 0.25em;
  border: none;
  border-bottom: 2px solid var(--feedback-default);
  transition: all 300ms ease-in;
  outline: none;
}

/*Change bottom-border color*/
input:valid {
  border-bottom: .20em solid var(--feedback-correct);
  color: var(--feedback-correct);
}

input:focus:invalid {
  border-bottom: .20em solid var(--feedback-wrong);
  color: var(--feedback-wrong);
}

/*Show when correct*/
input:focus:valid + .correct {
  display: block;
  font-size: 0.9em;
  color: var(--feedback-correct);
}

input:valid + .correct,input:invalid + .correct {
  display: none;
  color: var(--feedback-wrong);
}

/*Show when wrong*/
input + .wrong {
  display: none;
}

input:focus:invalid + .wrong {
  display: block;
  color: red;
  font-size: 0.9em;
}

nav {
  box-shadow: var(--box-shadow-1)
}

nav h1 {
  color: var(--main-font-color);
}

article {
  box-shadow: var(--box-shadow-1);
  position: relative;
  transition: all 250ms;
}

article:hover {
  box-shadow: var(--box-shadow-2);
  transition: all 250ms;
}

/* Media item fully clickable*/
article a::after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
}

fieldset {
  width: 50vw;
  text-align: center;
  border-radius: 0.5em;
  float: left;
  border: none;
  box-shadow: var(--box-shadow-1);
}

input[type="radio"] { /* Not display none but 6.31 css secrets*/
    position: absolute;
    clip: rect(0,0,0,0);
}

/* ==========================================================================
   Attributes
   ========================================================================== */

button[name="close"] {
  background: none;
  width: 100%;
  text-align: right;
}

/* Custom Checkbox */
input[type="checkbox"] + label::before {
  content: '\a0'; /* non-break space */
  display: inline-block;
  vertical-align: .2em;
  width: var(--scale-normal);
  height: var(--scale-normal);
  margin-right: 1em;
  border-radius: .25em;
  background: grey;
  text-indent: .15em;
  line-height: .65;
}

input[type="checkbox"]:checked + label::before { /* Checked state */
    content: '\2713';
    background: var(--feedback-correct);
}

input[type="checkbox"] { /* Hide original checkbox */
    position: absolute;
    clip: rect(0,0,0,0);
}

input[type="checkbox"]:focus + label::before { /* Focus state for tab */
    box-shadow: 0 0 .1em .1em #58a;
}

input[type="radio"] + label {
  cursor: pointer;
  opacity: 0.5;
  transition: all 250ms ease-in;
}

input[type="radio"]:focus + label {
  box-shadow: 0 0 .1em .1em #58a;
}


input[type="radio"]:checked + label {
  opacity: 1;
  transform: scale(1.2);
  transition: all 250ms ease-in;
}

[data="you"] {
  align-self: flex-end;
}

[data="you"] > p {
  background-color: var(--chat-bg2-color);
  border-radius: 1em 0em 1em 1em;
}

[data="user"] > p {
  background-color: var(--chat-bg1-color);
  border-radius: 0em 1em 1em 1em;
}

[data-status="READ"]:before {
  content: "✓✓ ";
}

[data-status="DELIVERED"]:before {
  content: "✓ ";
}

/* ==========================================================================
   1. Chat
   ========================================================================== */
.chat {
  max-width: 50em;
}

.chat ol {
  display: flex;
  flex-direction: column;
  list-style-type: none; /* Reset list style for chat only */
  padding: 0;
  margin: 0;
}

form textarea {
  display: flex;
  flex: 1;
  align-self: center;
}

.chat li > p {
  color: var(--main-font-color);
  padding: var(--scale-normal);
  max-width: 30vw;
}

.chat footer {
  font-size: var(--font-size-small);
  color: var(--secondary-color);
}

/* ==========================================================================
   2. Login Form
   ========================================================================== */
.login form {
  padding: calc(3* var(--scale-normal));
  padding-bottom: calc(4 * var(--scale-normal));
  display: flex;
  flex-direction: column;
  min-width: 30vw;
  max-width: 30vw;
  position: relative;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

button[name="close"] {
  position: static;
  color: var(--feedback-wrong);
  box-shadow: none;
}

form a {
  line-height: 5;
}

/* Clickable dialog box */
#modal {
  position: fixed;
}

dialog::backdrop {
	background: rgba(33, 150, 243, 0.6);
}

/* ==========================================================================
   3. Media Item
   ========================================================================== */
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  flex-wrap: wrap;
  max-width: 30vw;
  margin: calc(2 * var(--scale-normal));
}

.item img {
  object-fit: cover;
}

.item article:first-child > img{
  flex-basis: 50%;
}

.item article div, article img {
  flex-basis: 30%;
  flex-grow: 1;
}

.item article div {
  flex-basis: 60%;
  padding: var(--scale-normal);
}

/* ==========================================================================
   4. Navigation
   ========================================================================== */
nav h1 {
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  margin: 0;
  padding: var(--scale-normal);
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  flex: 1;
  text-align: center;
  border-bottom: 3px solid transparent;
  transition: 0.5s ease;
  position: relative;
}

nav ul li:hover {
  border-bottom: 3px solid #a3bded;
  background-color: #ECEFF1;
}

nav ul li a {
  padding: 1em 0em;
  display: block;
  width: 100%;
}

nav ul ul {
  display: flex;
  flex-direction: column;
  height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  box-shadow: var(--box-shadow-1);
}

[data="submenu"] li:not(:last-child) {
  border-bottom: 1px solid var(--secondary-color);
}

[data="submenu"]:hover ul {
  background: var(--primary-color);
  opacity: 1;
  transition: all 0.5s;
  height: 20vh;
  position: absolute;
  width: 100%;
}

/* ==========================================================================
   5. Picture with subtitle
   ========================================================================== */
figure {
  display: flex;
  align-items: center;
}

figure img {
  max-width: 15em;
  margin-right: 2em;
}

.picture-subtitle {
  max-width: 50em;
}

/* ==========================================================================
   6. Rating
   ========================================================================== */
.rating {
  display: flex;
  justify-content: center;
}

.emojis {
  display: flex;
  justify-content: space-around;
}

fieldset label {
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ==========================================================================
   7. Step Indicator
   ========================================================================== */
.step ol {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  counter-reset: dot;
  padding: calc(2 * var(--scale-normal));
}

nav ol li {
  padding: 1em 2em;
}

.step li {
  color: var(--main-font-color);
	position: relative;
	background: var(--accent-color);
  border-radius: calc(var(--scale-normal) / 2);
  counter-increment: dot;
  display: flex;
}

.step li a {
  color: inherit;
  background: inherit;
}

.step a:before {
  content: "✓"
}

.step li:before {
  margin-right: 10px;
  content: counter(dot);
  background: var(--primary-color);
  border-radius: 100%;
  color: var(--accent-color);
  width: 1.25em;
  text-align: center;
  display: inline-block;
}

/* ==========================================================================
   Layout - Mostly flexbox responsive changes
   ========================================================================== */

@media (max-width: 40em) {

/* Picture with subtitle */
  figure {
   display: block;
 }

 .picture-subtitle {
   margin: 0;
 }

 /* Step indicator */
 .step ol {
   display: block;
 }

 article {
   max-width: none;
 }

 hr {
   width: 100%;
   margin: 1em 0em;
 }
}

/* Loading spinner without sprite (8.43)
-----------------------------*/
.preloader { /* 2.7 Random background, what's the use case for this? */
  background: hsl(0, 100%, 100%);
  background-image:
  	linear-gradient(90deg, #fff 11px, transparent 0),
  	linear-gradient(90deg, #DEE2E6 23px, transparent 0),
  	linear-gradient(90deg, #fff 23px, transparent 0);
  background-size: 20px 100%, 50px 100%, 30px 100%;
}
.spinner {
  background-color: var(--accent-color);
  cursor: progress; /* 6.29 cursor */
  height: 4em;
  width: 4em;
  border-radius: 100%;
  animation: spinner 2s infinite ease-in-out;
}

@keyframes spinner  {
  0% { opacity: 0; transform: scale(0.5); }
  50% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.5); } }
