@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

/* CSS variables for color
-----------------------------*/

:root {
  /* Colors */
  --main-bg-color: #dee2e6;
  --main-fr-color: #fff;
  --header-color: #2979FF;

  /*Typography*/
  --main-font: 'Roboto', sans-serif;

  --main-font-color: #fff;
  --main-link-color: purple;
  --main-heading-color: #1565C0;
  --main-p-color: black;

  --nav-dark: #3949AB;

  /* Box Shadow */
  --box-shadow-1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  --section-bg-color: #fff;
  --chat-bg-color: #2196F3;
  --chat-bg2-color: #009688;
  --button-color: #4263eb;
  --nav-bg-color: #4263eb;

  /* Padding */
  --padding-none: 0;
  --padding-small: 0.5em;
  --padding-medium: 1em;
  --padding-big: 2em;

  /* Margin */
  --margin-none: 0;
  --margin-small: 1em;
  --margin-medium: 2em;
  --margin-big: 3em;
}

/* Some resets
-----------------------*/
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: var(--padding-none);
}

html, body {
  margin: var(--margin-none);
}


/* Global page styling
-----------------------*/

html {
  background-color: var(--main-bg-color);
  font-family: var(--main-font);
}

section {
  background-color: var(--main-fr-color);
  box-shadow: var(--box-shadow-1);
  padding: var(--padding-big);
  margin: var(--margin-medium);
}

h2 {
  padding: 1em 0em;
  border-bottom: 0.05em solid var(--main-heading-color);
  margin: 0em 2em;
  color: var(--main-heading-color);
}

img {
  max-width: 100%;
}

header {
  background-color: var(--header-color);
  padding: var(--padding-big);
  color: var(--main-fr-color);
}

/* Tags
----------------*/

form {
  display: flex;
  background-color: var(--main-bg-color);
  padding: var(--padding-big);
}

label {
  line-height: 3;
  cursor: pointer;
}

input {
  font-size: 1em;
  line-height: 2;
  padding: 0.5em;
  display: inline;
}

article {
  box-shadow: var(--box-shadow-1);
  padding: var(--padding-medium);
}

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--nav-bg-color);
  color: var(--main-fr-color);

  padding: 0em 1em;
}

svg {
  width: 4vw;
}

textarea {
  font-size: 1em;
}

footer {
  font-size: 0.8em;
  line-height: 0.4;
}

input {
  line-height: 4vh;
  border: none;
  border-bottom: 0.2em solid #748ffc;
  font-size: 1em;
  color: none;
}

input:focus {
  outline: 0.2em solid #748ffc;
}

/* Attributes
---------------*/
[type="submit"] {
  background-color: var(--button-color);
  border: none;
  padding: 0.8em;
  border-radius: 0.5em;
  color: var(--main-fr-color);
  min-width: 10vw;
  font-weight: 900;
  font-size: 0.8em;
}

[data-status] {
  border-radius: 100%;
  padding: 0.2em;
  margin: var(--margin-small);
}

[data-status="READ"]:before {
  content: "vv ";
}

[data-status="DELIVERED"]:before {
  content: "v ";
}

/* 1. Chat
----------------*/
.chat ol {
  display: flex;
  flex-direction: column;
}

.chat form > label {
  align-self: center;
}

form > textarea {
  flex: 1;
  margin: 0em 3em;
}

.chat li {
  color: var(--main-fr-color);
  background-color: var(--chat-bg-color);
  padding: 1em 3em;
  margin-bottom: 5vh;
  border-radius: 0em 2em 2em 2em;
  max-width: 15vw;
}

.chat li:nth-of-type(2) {
  align-self: flex-end;
  border-radius: 2em 0em 2em 2em;
  background-color: var(--chat-bg2-color);
}

li p {
  font-weight: 700;
}

footer p {
  font-weight: 300;
}


/* 2. Login
-----------------*/
.login {
  display: flex;
  justify-content: center;
}

.login form {
  flex-direction: column;
  min-width: 30vw;
  box-shadow: var(--box-1-shadow);
}

.login form a {
line-height: 4;
}

/* 3. Media item
--------------*/
.media-item {
  display: flex;
  justify-content: center;
}

.media-item article {
  display: flex;
  max-width: 30vw;
  flex-wrap: wrap;
}

.media-item article img {
  order: -1;
  object-fit: cover;
  width: 100%;
}

/* 4. Navigation
------------------*/
nav h1 {
  flex-basis: 100%;
}

nav ul {
  display: flex;
  width: 100%;
  background-color: #448AFF;
  padding: var(--padding-medium);
}

nav li a{
  margin-right: var(--margin-big);
  color: white;
  border-bottom: 0.10em solid white;
}
nav ul li ul {
  display: flex;
  flex-direction: column;
  display: none;
}

/* 5. Picture with subtitle */
figure {
  width: min-content;
  box-shadow: var(--box-shadow-1);
  min-width: 30vw;
  max-width: 40vw;
  padding: var(--padding-big);
  margin: var(--margin-none);
}

figure img {
  height: 30vh;
  object-fit: cover;
  width: 100%;
}

.picture article {
  box-shadow: none;
}

/* 6. Rating
-----------------------*/
.rating {
  display: flex;
  justify-content: center;
}

fieldset {
  width: 50vw;
  text-align: center;
  border-radius: 0.5em;
  float: left;
  border: none;
  box-shadow: var(--box-shadow-1);
}

fieldset [type="radio"] {
  display: none;
}

.emojis {
  display: flex;
  justify-content: space-around;
}

fieldset label {
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 7. Step indicator
----------------------------*/
progress {
  width: 100%;
}

progress[value] {
  height: 20px;
  appearance: none;
}

.step ol {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
