@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

/* CSS variables for color
-----------------------------*/

:root {
  --main-bg-color: #dee2e6;
  --main-fr-color: #fff;

  --main-font: 'Roboto', sans-serif;
  --main-font-color: #fff;
  --main-link-color: purple;
  --main-p-color: black;

  --nav-dark: #3949AB;

  --box-shadow-1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  --section-bg-color: #fff;

  --chat-bg-color: blue;
  --chat-bg2-color: #DDF7C8;

  --button-color: #4263eb;

  --nav-bg-color: #4263eb;
}

/* Some resets
-----------------------*/
a {
  text-decoration: none;
}

ul,ol {
  list-style-type: none;
  padding: 0;
}

/* Global page styling
-----------------------*/

html {
  margin: 2%;
  background-color: var(--main-bg-color);
  font-family: var(--main-font)
}

section {
  background-color: var(--main-fr-color);
  box-shadow: var(--box-shadow-1);
  padding: 2em;
}

img {
  max-width: 100%;
}

/* Tags
----------------*/

form {
  display: flex;
  background-color: var(--main-bg-color);
  padding: 2em;
}

label {
  line-height: 3;
  cursor: pointer;
}

input {
  font-size: 1em;
  line-height: 2;
  padding: 0.5em;
  display: inline;
}

article {
  box-shadow: var(--box-shadow-1);
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--nav-bg-color);
  color: var(--main-fr-color);
  padding: 0em 1em;
}

svg {
  width: 4vw;
}

/* Attributes
---------------*/
[type="submit"] {
  background-color: var(--button-color);
  border: none;
  padding: 0.8em;
  border-radius: 0.5em;
  color: var(--main-fr-color);
  min-width: 10vw;
  font-weight: 900;
  font-size: 0.8em;
}

/* 1. Chat
----------------*/
.chat ol {
  display: flex;
  flex-direction: column;
}

.chat form > label {
  align-self: center;
}

form > textarea {
  flex: 1;
  margin: 0em 3em;
}

.chat li {
  color: var(--main-fr-color);
  background-color: var(--chat-bg-color);
  padding: 1em 3em;
  margin-bottom: 5vh;
  border-radius: 0em 2em 2em 2em;
  max-width: 15vw;
}

.chat li:nth-of-type(2) {
  align-self: flex-end;
  border-radius: 2em 0em 2em 2em;
  background-color: var(--chat-bg2-color);
}


/* 2. Login
-----------------*/
.login {
  display: flex;
  justify-content: center;
}

.login form {
  flex-direction: column;
  min-width: 30vw;
  box-shadow: var(--box-1-shadow);
}

/* 3. Media item
--------------*/
.media-item {
  display: flex;
  justify-content: center;
}

.media-item article {
  max-width: 30vw;
}

article img {
  width: 100%;
  order: -1;
}

article > h1,p {
  padding: 0em 1em;
  order: 0;
}

/* 4. Navigation
------------------*/
nav h1 {
  flex-basis: 100%;
}

nav ul {
  display: flex;
  width: 100%;
}

nav li {
  margin-right: 3em;
}
nav ul li ul {
  display: flex;
  flex-direction: column;
  display: none;
}

/* 5. Picture with subtitle
-----------------------*/
.rating {
  display: flex;
  justify-content: center;
}

fieldset {
  width: 50vw;
  text-align: center;
  border-radius: 0.5em;
  float: left;
  border: none;
  box-shadow: var(--box-shadow-1);
}

fieldset [type="radio"] {
  display: none;
}

.emoji {
  display: flex;
  justify-content: space-between;
}

fieldset label {
  line-height: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
