body {
  background-color: #ECEFF1;
  font-family: sans-serif;
}

section {
  background-color: white;
  padding: 2%;
  margin: 2%;
}

button[type="submit"] {
  background-color: #536DFE;
  border: none;
  padding: 2%;
  border-radius: 1em;
  color: white;
  font-weight: 700;
}

textarea {
  min-height: 5em;
}

/* 1. Chat components */
/*#chat p {
  font-weight: 700;
}

#chat ol {
  color: black;
  list-style-type: none;
  padding: 0;
}

#chat li {
  background-color: #CFD8DC;
  padding: 2%;
  margin: 2%;
  border-radius: 0.8em;
}

#chat form {
  background-color: #CFD8DC;
  display: flex;
  flex-direction: column;
}

#chat form > * {
  margin: 1%;
}

#chat footer p {
  font-weight: 500;
  font-size: 0.8em;
}*/

/* Check marks */
/*#chat footer [data-status="READ"]:before {
  content: "✓✓ ";
  color: #37474F;
}

#chat footer [data-status="DELIVERED"]:before {
  content: "✓ ";
  color: #37474F;
}

#chat label {
  background-color: #78909C;
  margin: 0;
  padding: 2%;
  color: white;
}*/

/* 2. Login form */
#login form {
  display: flex;
  flex-direction: column;
  background-color: #2196F3;
  max-width: 30em;
  margin: auto;
  padding: 2em;
  border-radius: 1vw;
  color: white;
}

#login input {
  min-height: 4em;
  margin: 1em 0 1em 0;
  background-color: #42A5F5;
  border: none;
}

#login #forgot {
  display: flex;
  margin: 2%;
}

#login #forgot input {
  min-height: 0;
  margin: 0;
}

#login input[type="checkbox"] {
  appearance: none;
  background-color: hotpink;
}
