/* Table of Contents
- Global
- 1. Chat*/

/* Global */
* {
  font-family: sans-serif;
  border: none;
}

body {
  background-color: grey;
  margin: 2%;
}

section {
  background-color: white;
}

body.dimmed::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,.8);
}

/* Fancy Character */
@font-face {
    font-family: Mark;
    src: local('Baskerville-Italic');
    unicode-range: U+21;
}

p {
    font-family: Mark, Helvetica, sans-serif;
}

/* 1. Chat */

li {
  list-style-type: none;
  background-color: #2196F3;
  color: white;
  padding: 1%;
  margin: 1%;
  border-radius: 25px;
}

li:before {
  background-color: red;
  padding: 0.5%;
}

p[data-status=READ] {
  color: white;
  background-color: #8BC34A;
}

p[data-status=DELIVERED] {
  color: white;
  background-color: #FF9800;
}

footer > p:first-child {
  font-size: 0.8em;
}

form {
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

textarea {
  border: none;
  background-color: #F5F5F5;
  min-height: 15vh;
  border-bottom: 1px solid purple;
}
