<nav>

    <h1>Main navigation</h1>

    <ul>
        <li><a href="#main-content" aria-label="Home, current page">Home</a></li>
        <li>
            <a href="/products">Products</a>

            <ul>
                <li><a href="/products/rock">Rock</a></li>
                <li><a href="/products/paper">Paper</a></li>
                <li><a href="/products/scissors">Scissors</a></li>
            </ul>

        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

</nav>