<article>
	<h1>This picture has a title</h1>
	<figure>
		<!-- Portrait -->
		<img src="https://vasilis.nl/voto/fotos/klein/170126170241-we-hebben-een-bortusk-1280.jpg" alt="A drawing of a colorful monster on a newspaper" />
		
		<!-- Landscape -->
		<!-- <img src="https://vasilis.nl/voto/fotos/klein/161001174911-verhuizen-1280.jpg" alt="A bulldozer transporting a beach house along a sunny beach" /> -->
	</figure>
	<figcaption>
		<p>
			There's also this big and in depth description of the picture. You often see this on newssites or photo blogs. You could also replace the photo with a video if needed.
		</p>
		<footer>
			<time datetime="2017-02-06">6-2-2017</time> © 2017 <a href="https://vasilis.nl">Vasilis van Gemert</a>
		</footer>
	</figcaption>
</article>
