body {
  background-color: #ECEFF1;
  font-family: sans-serif;
}

section {
  background-color: white;
  padding: 2%;
  margin: 2%;
}

button[type="submit"] {
  background-color: #536DFE;
  border: none;
  padding: 2%;
  border-radius: 1em;
  color: white;
  font-weight: 700;
}

textarea {
  min-height: 5em;
}

/* 1. Chat components */
#chat p {
  font-weight: 700;
}

#chat ol {
  color: black;
  list-style-type: none;
  padding: 0;
}

#chat li {
  background-color: #CFD8DC;
  padding: 2%;
  margin: 2%;
  border-radius: 0.8em;
}

#chat form {
  background-color: #CFD8DC;
  display: flex;
  flex-direction: column;
}

#chat form > * {
  margin: 1%;
}

#chat footer p {
  font-weight: 500;
  font-size: 0.8em;
}

/* Check marks */
#chat footer [data-status="READ"]:before {
  content: "✓✓ ";
  color: #37474F;
}

#chat footer [data-status="DELIVERED"]:before {
  content: "✓ ";
  color: #37474F;
}

#chat label {
  background-color: #78909C;
  margin: 0;
  padding: 2%;
  color: white;
}

/* 2. Login form */
body {
  background-color: #CFD8DC;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #1976D2;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #2196F3;
  display: flex;
  flex-direction: column;
  padding: 5vh;
  min-width: 50vw;
  color: white;
}

label, input {
  line-height: 3;
}

input:focus {
  background-color: #E3F2FD;
  border: .25em solid #FFC107;
}

button[type="submit"] {
  background-color: hotpink;
  border: none;
  padding: 1em 2em 1em 2em;
  border-radius: 1em;
  min-width: 20vh;
  align-self: center;
  background-color: #FFC107;
  color: white;
  font-weight: 500;
  font-size: 1em;
  margin-top: 2vh;
}

/* Media Item */

article {
  background-color: white;
  padding: 1.5em;
  width: min-content;
  color: #1976D2;
  border-radius: 1em;
}

article img {
  width: 30vw;
}
